/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --shadow-color: #ff0070;
  --heading-color: #db00ff;
  --heading-text: #000028;
  --decor-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --text-bg: #ff0070;
  --text-color: #f1b2ce;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
}

.theme-dark .decorated-record-icon {
  display: flex;
}
